# OPTIONAL APP SETTINGS
APP_NAME=AkpanMVC
APP_ENV=local
BASE_URL=http://localhost/Apps/akpan
APP_PATH=Apps/akpan
DEBUG=true

# EMAIL CONFIGURATION
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your@email.com
EMAIL_PASS=your_email_password

# DATABASE CONFIGURATION
# DB_DRIVER=sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=akpan_db
DB_USER=root
DB_PASS=
DB_PATH=app/
DB_EXT=db

# cache
CACHE=true
CACHE_PATH=core/
CACHE_AGE=24
CACHE_LEVEL=page
CACHE_DRIVERS=core

ZAPPER_BASE=


